@helper SelectedMenu(string menuName)
{
    string controller = ViewContext.RouteData.GetRequiredString("controller");
    string path = ("/" + controller).ToLower();
    if (path == menuName)
    {
        <text>class="selected"</text>
    }
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @RenderSection("CSS", required: false)

        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("JavaScripts_Head", required: false)
    </head>
    <body>
        <div class="nav">
            <div style="color: white;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif;font-size: 25px;">
                Demo
            </div>
            <div>
                <ul class="horizontalMenu">
                    <li @SelectedMenu("/app1")>
                        <a href="~/app1/">App1</a>
                    </li>
                    <li @SelectedMenu("/app2")>
                        <a href="../app2/">App2</a>
                    </li>
                    <li @SelectedMenu("/app3")>
                        <a href="../app3/">App3</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            @*<hr />*@
        </div>
        <div id="main">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("JavaScripts_End", required: false)
    </body>
</html>
